body {
    background-color: #ccc;
}

.center {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

table {
    width: 700px;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}

table tr td {
    width: 110px;
    text-align: center;
}

#tr_one {
    background-color: #666;
}

#number {
    width: 60px;
}